.cartbox {
  max-width: 100%;
  width: 100%;
  min-height: 100px;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.cartbox:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.cartbox img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.text span {
  margin-top: 4px;
}
.cartbox > button {
  padding: 6px 25px;
  color: rgb(211, 47, 47);
  background-color: white;
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  font-size: 0.875rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border: 1px solid rgba(211, 47, 47, 0.5);
  margin-left: auto;
}
.cartbox > button:hover {
  cursor: pointer;

  border: 1.25px solid rgba(211, 47, 47, 0.5);
  background-color: rgba(211, 47, 47, 0.052);
}
.text h3 {
  color: rgba(0, 0, 0, 0.87);
}

.text > span {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}
.text a {
  outline: 0;
  border: 1px solid rgba(46, 125, 50, 0.5);
  color: rgb(46, 125, 50);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 2px 8px;
  text-align: center;
  font-family: "myriad-semi";
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  font-weight: 500;
}
.text a:hover {
  border: 1.5px solid rgba(34, 96, 37, 0.5);
  background-color: rgba(46, 125, 50, 0.043);
}
.text {
  margin-left: 0;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
/* query media */
@media screen and (min-width: 0) {
  .text a,
  .text h3 {
    font-size: 14px;
  }
  .text span {
    font-size: 12px;
  }
  .cartbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-cenet;
    align-items: center;
  }

  .cartbox > button {
    margin-left: 0;
    margin-top: 0.75rem;
  }
}
@media screen and (min-width: 600px) {
  .text {
    margin-left: 60px;
    margin-top: 0;
  }
  .cartbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .cartbox > button {
    margin-left: auto;
    margin-top: 0rem;
  }
}
@media screen and (min-width: 900px) {
  .text a,
  .text h3 {
    font-size: 16px;
  }
}
