.main_cards {
  max-width: 82%;
  width: 100%;
  margin: 4rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.titr_cards {
  max-width: 100%;
  width: 100%;
  min-height: 80px;
  height: 100%;
}
.titr_cards ul {
  max-width: 100%;
  width: 100%;
  min-height: 80px;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.titr_cards ul li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titr_cards ul li:first-child::before {
  content: "♥";
  color: crimson;
}
.titr_cards ul li:first-child h2 {
  margin: 0 0 0 0.25rem;
}
.titr_cards ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titr_cards ul li:last-child a {
  color: #7e57c2;

  margin-right: 0.25rem;
}
.titr_cards ul li:last-child svg {
  display: flex;
  align-items: flex-end;
  color: #7e57c2;
  font-size: 20px;
}
.titr_cards ul li:last-child span {
  margin-right: 0.75rem;
}

.cards {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

/* responsive */

@media only screen and (min-width: 0) {
  .titr_cards ul li:first-child h2 {
    font-size: 24px;
  }
  .titr_cards ul li:first-child::before {
    font-size: 2rem;
  }
  .titr_cards ul li:last-child a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 600px) {
  .titr_cards ul li:first-child h2 {
    font-size: 28px;
  }
  .titr_cards ul li:first-child::before {
    font-size: 2.5rem;
  }
  .titr_cards ul li:last-child a {
    font-size: 22px;
  }
}
