.cart_main {
  max-width: 82%;
  width: 100%;
  min-height: 300px;
  height: 100%;
  margin: 80px auto 160px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cart_list_courses {
  min-height: 100%;
  height: 100%;
}
.cart_list_courses ul {
  margin-bottom: 30px;
  list-style: square;
}
.cart_list_courses ul li::marker {
  font-size: 25px;
  color: rgb(126, 87, 194);
}

.list_main,
.cost_main {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgb(94 129 209 / 16%) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.emptydiv {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 80px auto 160px auto;
}
.emptydiv .h3 {
  text-align: center;
  width: 100%;
  color: rgb(121, 127, 169);
  font-weight: 800;
}
.emptydiv .img {
  width: 200px;
  height: 300px;
  margin: 40px auto;
}

.list_main .h3_success {
  text-align: center;
  width: 100%;
  color: lightgreen;
}
.cart_cost_courses {
  max-width: 30%;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.cart_cost_courses ul {
  margin-bottom: 30px;
  list-style: square;
}
.cart_cost_courses ul li::marker {
  font-size: 25px;
  color: rgb(126, 87, 194);
}
.cost {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.cost span:last-child {
  color: rgba(0, 0, 0, 0.6);
}

.discount_box {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discount_box input {
  margin: 0px;
  padding: 8.5px 14px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  outline: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 66%;
  height: 20px;
  color: rgba(0, 0, 0, 0.468);
}
.discount_box input:focus {
  border: 1px solid rgb(126, 87, 194);
}
.discount_box button {
  border: 1px solid rgba(126, 87, 194, 0.319);
  color: rgb(126, 87, 194);
  border-radius: 4px;
  cursor: pointer;
  height: 39px;
  width: 20%;
  background-color: white;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.discount_box button:hover {
  border: 1px solid rgba(126, 87, 194, 0.492);
  background-color: rgba(126, 87, 194, 0.057);
}

.discount_text {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 24px;
}
.discount_text span:last-child {
  color: rgb(239, 83, 80);
}

.payable {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.payable span:last-child {
  color: rgb(87, 151, 91);
}

.cost_main > button,
.cost_main > a,
.emptydiv > a {
  padding: 10px 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(126, 87, 194);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  font-size: 17px;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  outline: 0;
  cursor: pointer;
  max-width: 100%;
  width: 100%;
  border: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: ;
  -moz-transition: ;
  -ms-transition: ;
  -o-transition: ;
  font-weight: 600;
}
.cost_main > a {
  width: fill-available;
  width: -webkit-fill-available;
  text-align: center;
}
.emptydiv > a {
  width: 23%;
  text-align: center;
}
.cost_main > button:hover,
.cost_main > a:hover,
.emptydiv > a:hover {
  background-color: rgb(100, 69, 152);
  box-shadow: rgba(0, 0, 0, 0.226) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.219) 0px 2px 2px 0px, rgba(0, 0, 0, 0.219) 0px 1px 5px 0px;
}

/* media query */

@media screen and (min-width: 0) {
  .cart_list_courses ul li,
  .cart_cost_courses ul li {
    font-size: 18px;
  }
  .cart_cost_courses {
    max-width: 100%;
    width: 100%;
    margin-top: 1rem;
  }
  .cart_list_courses {
    max-width: 100%;
    width: 100%;
  }
  .emptydiv .h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 600px) {
  .cart_list_courses ul li,
  .cart_cost_courses ul li {
    font-size: 24px;
  }
}
@media screen and (min-width: 900px) {
  .cart_cost_courses {
    max-width: 30%;
    width: 100%;
    margin-top: 0rem;
  }
  .cart_list_courses {
    max-width: 68%;
    width: 100%;
  }
  .emptydiv .h3 {
    font-size: 24pxpx;
  }
}
