.checkbox_wrapper_20 {
  --slider-height: 8px;
  --slider-width: calc(var(--slider-height) * 4);
  --switch-height: calc(var(--slider-height) * 3);
  --switch-width: var(--switch-height);
  --switch-shift: var(--slider-height);
  --transition: all 0.2s ease;

  --switch-on-color: rgb(39, 174, 39);
  --slider-on-color: lightgreen;

  --switch-off-color: #eeeeee;
  --slider-off-color: #c5c5c5;
}

.checkbox_wrapper_20 .switch {
  display: block;
}

.checkbox_wrapper_20 .switch .slider {
  position: relative;
  display: inline-block;
  height: var(--slider-height);
  width: var(--slider-width);
  border-radius: var(--slider-height);
  cursor: pointer;
  background: var(--slider-off-color);
  transition: var(--transition);
}

.checkbox_wrapper_20 .switch .slider:after {
  background: var(--switch-off-color);
  position: absolute;
  left: calc(-1 * var(--switch-shift));
  top: calc((var(--slider-height) - var(--switch-height)) / 2);
  display: block;
  width: var(--switch-height);
  height: var(--switch-width);
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  content: "";
  transition: var(--transition);
}

.checkbox_wrapper_20 .switch label {
  margin-right: 7px;
}

.checkbox_wrapper_20 .switch .input {
  display: none;
}

.checkbox_wrapper_20 .switch .input ~ .label {
  margin-left: var(--slider-height);
}

.checkbox_wrapper_20 .switch .input:checked ~ .slider:after {
  left: calc(var(--slider-width) - var(--switch-width) + var(--switch-shift));
}

.checkbox_wrapper_20 .switch .input:checked ~ .slider {
  background: var(--slider-on-color);
}

.checkbox_wrapper_20 .switch .input:checked ~ .slider:after {
  background: var(--switch-on-color);
}
