.main {
  margin: 50px auto 160px auto;
  max-width: 82%;
  width: 100%;
  position: relative;
}

/* media query */
@media screen and (min-width: 0) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 600px) {
}
@media screen and (min-width: 900px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
