.main {
  max-width: 82%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  min-height: 64px;
  height: 100%;
  margin: 8px auto 0 auto;
  padding: 0 1rem;
}
.main img {
  width: 100px;
  height: 50px;
  cursor: pointer;
}
.menu_nav {
  width: fit-content;
}
.menu_ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu_ul li {
  list-style: none;
  margin: 0 0.75rem;
}
.menu_ul li a,
.menu_section ul li a {
  color: #343434;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  font-family: "myriad-bold";
  font-size: 16px;
}
.menu_ul li a:hover,
.menu_section ul li a:hover {
  color: #7e57c2;
}
.login_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: fit-content;
}
.login_cart .cart,
.login_cart .login {
  background-color: rgb(232, 234, 246);
  color: rgb(126, 87, 194);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  cursor: pointer;
}
.login_cart .cart {
  padding: 10px;
}
.login_cart .login {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  align-items: center;
  padding: 10px;
}

.login_cart .login span:first-child {
  font-size: 1rem;
}

.login_cart .login span:last-child {
  font-size: 22px;
  display: flex;
  margin-left: 0.25rem;
}
.login_cart .cart span {
  font-size: 22px;
  display: flex;
}

.menu_icon_mobile {
  font-size: 2.1rem;
  color: #9c9c9c;
  cursor: pointer;
}

.menu_section {
  max-width: 222px;
  width: 100%;
  background-color: white;
  z-index: 1;
  height: 100vh;
}
.menu_section > div {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu_section > div svg {
  font-size: 1.5rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  padding: 0.75rem 1rem 0 0;
}
.menu_section ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2.4;
  list-style: none;
  padding-left: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 1rem;
}
.menu_section ul li {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.menu_section ul li svg {
  display: flex;
  font-size: 20px;
  margin-right: 0.5rem;
}

@media screen and (min-width: 0px) {
  .menu_icon_mobile {
    display: flex;
  }
  .menu_nav {
    display: none;
  }
  .main > a {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .menu_icon_mobile {
    display: none;
  }
  .menu_nav {
    display: flex;
  }
  .main > a {
    display: flex;
  }
}
