@font-face {
  font-family: "myriad-bold";
  src: url(./fonts/MyriadPro-Bold.otf);
}
@font-face {
  font-family: "myriad-black";
  src: url(./fonts/MyriadPro-BlackSemiCn.otf);
}

@font-face {
  font-family: "myriad-semi";
  src: url(./fonts/Myriad\ Pro\ Bold\ SemiExtended.ttf);
}
body {
  padding: 0;
  margin: 0;
  font-family: "myriad-semi";
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
